<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuarios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Listado de Usuarios</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Cuotas</th>
                    <th scope="col">Interés (%)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.name %></td>
                        <td><%= user.detalle %></td>
                        <td><%= user.monto %></td>
                        <td><%= user.fecha_inicio ? user.fecha_inicio.toISOString().split('T')[0] : '' %></td>
                        <td><%= user.cuotas %></td>
                        <td><%= user.interes %></td>
                        <td>
                            <a href="/users/details/<%= user.id %>" class="btn btn-info">Detalles</a>
                            <a href="/payments/add?userId=<%= user.id %>" class="btn btn-primary">Agregar Abono</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/users/add" class="btn btn-primary">Agregar Usuario</a>
        <a href="/" class="btn btn-secondary">Volver</a>

    </div>
</body>
</html>
